Introdução/*
!Introdução/exercícios_introducao

Operadores/*
!Operadores/Exercicios_Operadores

ControleFluxo/*
!ControleFluxo/Exercicios_Controle_Fluxo

EstruturaDados/*
!EstruturaDados/Exercícios_estrutura_dados

Functions/*
!Functions/Exercícios_functions

POO/*
!POO/Exercícios_POO

DesenvolvendoUmaAPI/*
!DesenvolvendoUmaAPI/Exercícios_API

FerramentasDev/*
!FerramentasDev/Exercícios_ferramentas

Flask/*
!Flask/Exercícios_Flask
!Flask/Exercício_ClassBasedViews

Django/*
!Django/Exercícios_Django