*/.mypy_cache
__pycache__

Introdução/*
!Introdução/exercícios_introducao

Operadores/*
!Operadores/Exercicios_Operadores

ControleFluxo/*
!ControleFluxo/Exercicios_Controle_Fluxo

EstruturaDados/*
!EstruturaDados/Exercícios_estrutura_dados

Functions/*
!Functions/Exercícios_functions

POO/*
!POO/Exercícios_POO

DesenvolvendoUmaAPI/*
!DesenvolvendoUmaAPI/Exercícios_API

FerramentasDev/*
!FerramentasDev/Exercícios_ferramentas

Flask/*
!Flask/Exercícios_Flask
!Flask/Exercício_ClassBasedViews
!Flask/ToDO_ClassBased

Django/venv
Django/db.sqlite3
Django/resume.txt
Django/*.exe
Django/.mypy_cache

Django_chores/*.exe
Django_chores/db.sqlite3
Django_chores/.mypy_cache
Django_chores/venv

Django_hotel/db.sqlite3
Django_hotel/*.exe
Django_hotel/venv

Testes/*
!Testes/tasks
!Testes/grade_calculator
!Testes/calculator.py
!Testes/test_calculator.py

drf-api/venv
drf-api/db.sqlite3
drf-api/resume.txt
drf-api/*.exe
drf-api/.mypy_cache

motorcycle-api/venv
motorcycle-api/db.sqlite3