<html>
    <head>
        <style>
            table {
                border-collapse: collapse;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>
    </head>
    <h2>Lista de eventos:</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Local/Link</th>
                <th>Data</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.category }}</td>
                    <td>{% firstof event.place event.link toDefine %}</td>
                    <td>{{ event.date }}</td>
                    <td><a href={% url 'schedule:details' event.id %}>Ver detalhes</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>-----------------------------------------------------------------------------------------------------------------------------------------</p>
    <form action={% url 'schedule:create_event' %} method="POST" autocomplete="off">
        {% csrf_token %}
        <p>Nome: <input type="text" placeholder="Digite o nome do evento..." name="event_name"></p>
        <p>Categoria: {% for category in categories %}<br>{{ category.name }}<input type="radio" name="category" value="{{ category.name }}" >{% endfor %}</p>
        <p>Data: <input type="date" name="date"></p>
        <p>Link: <input type="text" name="link" placeholder="Digite o link do evento aqui..."></p>
        <p>place: <input type="text" name="place" placeholder="Digite o local do evento aqui..."></p>
        <input type="submit" value="Criar novo evento">
    </form>
<html>